$primary: #5265E1;
$danger: #FA5959;
$nav-font-size: 22px;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

@import "../node_modules/bootstrap/scss/bootstrap";


body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logo-size {
  width: 15rem;
}

.hero-size {
  width: 50rem;
}

.main-container {
  max-width: 85%;
}

.nav-font-size {
  font-size: $nav-font-size;
}

.slogan-container {
  max-width: 40rem;
}

.slogan {
  font-size: 4rem;
  font-weight: bold;
}

.slogan-paragraph {
  font-size: 1.5rem;
}
