$primary: #5265E1;
$danger: #FA5959;
$nav-font-size: 22px;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

@import "../node_modules/bootstrap/scss/bootstrap";


.img-size {
  width: 15rem;
}

.nav-font-size {
  font-size: $nav-font-size;
}

