$primary: #5265e1;
$danger: #fa5959;
$nav-font-size: 0.8rem;
$selected-tab-color: #000;
$unselected-tab-color: #585757;
$tab-color-hover: #333232;
$border-color: red;
$border-width: 2px;
$main-container-size: 77rem;
$card-container: 13rem;
$img-browser-size: 8rem;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

// $nav-link-hover-color: $primary-color;
// $nav-link-disabled-color: $light-color;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-container {
  max-width: $main-container-size;
}

.logo-size {
  width: 10rem;
}

.hero-size {
  width: 41rem;
}

.nav-font-size {
  font-size: $nav-font-size;
}

.slogan {
  font-size: 3rem;
  font-weight: bold;
}

.slogan-container {
  width: 100%;
}

.slogan-text {
  font-size: 1.1rem;
}

.features-section-title {
  font-weight: bold;
}

.features-text-content {
  font-size: 1.1rem;
}

.feat-tab-img {
  height: 23rem;
}

.features-text-title {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link.active {
  color: $selected-tab-color;
  border-bottom: 4px solid red !important;
}

// Estilo para las pestañas no seleccionadas
.nav-link:not(.active) {
  color: $unselected-tab-color;
}

.img-browser {
  width: $img-browser-size;
}

.card-container {
  width: $card-container;
}

.card-content {
  width: $card-container;
  transition: width 0.3s ease-in-out;
}

.card-content:hover {
  width: 18rem;
}

